*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#banner{
    background-color: black;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo{
    width: 240px;

    position: absolute;
    top: 4%;
    left: 50px;
}
.banner-text{
    text-align: center;
    color: white;
    position: absolute;
    top: 0%;
    right: 50px;
    
}
.banner-text h1{
    font-size: 80px;
    font-family: 'Kaushan Script', cursive;
}
.banner-text p{
    font-size: 20px;
    font-style: italic;
}
.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    border-radius: 15px;
    position: relative;
    z-index: 1;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffff;
    z-index: -1;
    transition: 0.5s;

}
.banner-btn a:hover span{
    width: 100%;
    border: .5px solid #fff;

   
}
.order a{
    width: 150px;
    color: white;
    position:absolute;
    text-decoration: none;
    text-align: center;
    margin: 0 10px;
    border: .5px solid #fff;border: .5px solid #fff;
    top: 180px;
    border-radius: 15px;
    right: 800px;
    padding: 12px 0;
    border: .5px solid #fff;
    
}
.cards{
    position: absolute;
    border-radius: 20px;
    left: 200px;
    top: 200px;
    width:300px;
    height: 600px ;
    background-color:white;
}
.image img{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
.title{
    text-align: center;
}
.description{
    text-align: center;
}
button{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-color: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}
button:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}